body {
	font-family: 'Arial', sans-serif;
}

.container {
	border: 2px solid #333;
	padding: 0px;
	width: 700px;
	height: 850px;
	margin: 0px auto;
	margin-top: 40px;
}

section {
	padding: 40px;
	border-top: 2px solid #ccc;
}

ul li {
	list-style-type: none;
	margin: 10px 0;
}

ul {
	padding: 0;
}

#face img{
	width: 45%;
}

h1 {
	margin-top: 5px;
	font-size: 38px;
}

h2 {
	margin-top: 5px;
}

#face {
	padding-top: 10px;
	border-right: 2px solid #ccc;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	height: 100px;
	box-sizing: border-box;
}

#banner {
	padding: 0px;
	border: none;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	height: 100px;
	box-sizing: border-box;
}

#banner img{
	width: 30%;
}

.grid-container {
	width: 100%;
	margin: 0;
	text-align: center;
}

.grid-column {
	width: 32%;
	display: inline-block;
}

.grid-column2 {
	width: 25%;
	display: inline-block;
}

.grid-column3 {
	width: 74%;
	display: inline-block;
}

#madLibsStory {
	padding: 10px 40px;
}

#madLibsStory p{
	padding: 0px;
	line-height: 45px;
	letter-spacing: 0.02em;
}

#madLibsStory span{
	border-bottom: 1px solid #000;
	min-width: 100px;
	background-color: #eee;
	display: inline-block;
	height: 24px;
	padding-bottom: 5px;
	vertical-align: middle;
    text-align: center;
    line-height: 30px;
}