<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" src="css/styles.css">
</head>
<body>
	<div class="container">
		<header>
			<div id="face">
				<img src="img/mad-lib-happy-face.png" alt="Happy Face" />
			</div>
			<div id="banner">
				<img src="img/ng-mad-libs-logo.png" alt="MadLibs Banner" />
			</div>
		</header>
		<section id="wordSelect" ng-app="demo">
			<h1>Provide the following words:</h1>
			<div>
				<div>
					<ul>
						<li ng-model="male name"></li>
						<li ng-model="job title"></li>
						<li ng-model="tedious task"></li>
					</ul>
				</div>
				<div>
					<ul>
						<li ng-model="dirty task"></li>
						<li ng-model="celebrity"></li>
						<li ng-model="useless skill"></li>
					</ul>
				</div>	
				<div>
					<ul>
						<li ng-model="obnoxious celebrity"></li>
						<li ng-model="huge number"></li>
						<li ng-model="adjective"></li>
					</ul>
				</div>	
			</div>
		</section>
		<section id="madLibsStory">
			<p>{{ female name }} was a {{ job title }} who loved technology. Although she loved parts of her job, she absolutely hated  {{ tedious task} } and {{ dirty task }}. So, {{ female_name }} met with her life mentor {{ celebrity }} who told her to learn how to {{ useless skill }} with Thinkful. Thinkful didn't offer a course on {{ useless skill }} so she studied programming instead.</p> 
 
			<p>What a great decision! With her new skills, {{ female name }} built a(n) {{ adjective }} robot named {{ obnoxiuous celbertity }} that not only loved {{ dirty task }} but did it {{ huge number }} faster.</p>
		</section>
	</div>
</body>
</html>