<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script>
		angular.module('demo', [])
			.controller('ctrl', ['$scope', function($scope) {

			}]);
	</script>
</head>
<body ng-app="demo" ng-controller="ctrl">
	<div class="container">
		<header>
			<div class="grid-container">
				<div id="face" class="grid-column2">
					<img src="img/mad-lib-happy-face.png" alt="Happy Face" />
				</div>
				<div id="banner" class="grid-column3">
					<img src="img/ng-mad-libs-logo.png" alt="MadLibs Banner" />
					<h1>Automate This!</h1>
				</div>
			</div>
		</header>
		<section id="wordSelect">
			<h2>Provide the following words:</h2>
			<div class="grid-container">
				<div class="grid-column">
					<ul>
						<li><input type="text" ng-model="male_name" placeholder="Male Name"></li>
						<li><input type="text" ng-model="job_title" placeholder="Job Title"></li>
						<li><input type="text" ng-model="tedious_task" placeholder="Tedious Task"></li>
					</ul>
				</div>
				<div class="grid-column">
					<ul>
						<li><input type="text" ng-model="dirty_task" placeholder="Dirty Task"></li>
						<li><input type="text" ng-model="celebrity" placeholder="Celebrity"></li>
						<li><input type="text" ng-model="useless_skill" placeholder="Useless Skill"></li>
					</ul>
				</div>	
				<div class="grid-column">
					<ul>
						<li><input type="text" ng-model="obnoxious_celebrity" placeholder="Obnoxious Celebrity"></li>
						<li><input type="text" ng-model="huge_number" placeholder="Huge Number"></li>
						<li><input type="text" ng-model="adjective" placeholder="Adjective"></li>
					</ul>
				</div>	
			</div>
		</section>
		<section id="madLibsStory">
			<p>{{ male_name }} was a {{ job_title }} who loved technology. Although she loved parts of her job, she absolutely hated  {{ tedious_task }} and {{ dirty_task }}. So, {{ male_name }} met with her life mentor {{ celebrity }} who told her to learn how to {{ useless_skill }} with Thinkful. Thinkful didn't offer a course on {{ useless_skill }} so she studied programming instead.</p> 
 
			<p>What a great decision! With her new skills, {{ male_name }} built a(n) {{ adjective }} robot named {{ obnoxiuous_celbertity }} that not only loved {{ dirty_task }} but did it {{ huge_number }} faster.</p>
		</section>
	</div>
</body>
</html>